[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-liquid"]
	path = vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-eunuch"]
	path = vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/vim-enuch"]
	path = vim/bundle/vim-enuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/ctrp.vim"]
	path = vim/bundle/ctrp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
